#header {
padding:5px 10px;
background:#ddd; 
margin:0px;
}

#head_control {
	text-align:center;
	border:2px solid black;
	margin-left:40;
    margin-right:40;
    margin-top:20;
}

body{
	width:100%;
    text-align:center;
	border:2px;
	margin:0;
	padding:0;
	}

h1 {
margin:0;
text-align:center
}
#nav {
padding:5px 10px;
background:#c99;
text-align:center;
}

#nav ul {
margin:0;
padding:0;
list-style:none;
}
#nav li {
display:inline;
margin:0;
padding:0;
}

#wrapper {
width:1000px;
margin:20px auto;
background:#99c;
border:5px solid black;
}

#main_section {
	float:left;
	width:680px;
	margin:0px;
}

#main {
float:left;
width:600px;
padding:10px;
background:#fbf5e6;
background-image:url('bombtechnician.jpg');
border:1px solid red;
margin:20px;
}

#main2 {
float:left;
width:600px;
padding:10px;
background:#f1edc2;
border:1px solid red;
margin:20px;
}
h2 {
margin:0 0 1em;
}
#sidebar {
float:right;
width:220px;
padding:10px;
border:1px solid red;
background:#99c;
margin:30px;
}
#footer {
clear:both;
padding:5px;
background:#cc9;
text-align:center;
border-top:5px solid black;
font:bold 14px blue;

}
#footer p {
margin:0;
}
* html #footer {
height:1px;
}
