/* Media 1260 */

@media screen and (max-width:1260px;){

#navbar{
	width:800px;
	height:80px; 
	border:1px solid white;
	float:right;
}	
#navbar> li{
	width:150px;
	list-style:none;
}	

    #logo{
	width:150px; height:80px; 
}
}

/* Media 1060 */

@media screen and (max-width:1060px;){
#header{
	position:relative; top:-60px;
	}
#navbar{
	width:100%;
	height:60px; 
	float:right;
	position:relative;
    top:-60px;
	
}	
#navbar> li{
	width:18%;
		}	
li>a{
	line-height:60px; 
	font-size:16px;
	}
#logo{
	width:200px;height:80px; float:left; padding-left:40px; position:absolute;top:-80px;
	}

#container{
	width:100%;
	margin:5px auto;
}

#left-column:{
	width:70%;
	float:left;
	background:blue;
	border:1px solid blue;
}
#right-column:{
	width:30%;
	float:left;
	background:orange;
	border:1px solid blue;
}

}


/* Media 480 */

@media screen and (max-width:480px;){
#header{
	width:100%; height:60px;
}
#navbar{
	width:100%;
	height:60px; 
	float:none;
	overflow:hidden;
	
}	
#navbar> li{
	width:18%;
	list-style:none;
	float:none;
	border-bottom:1px solid skyblue;
	}	
li>a{
	display:block;
	color:white;
	line-height:60px; 
	font-size:16px;
	text-decoration:none;
	}
#logo{
	width:100%; height:70px; float:left; padding-left:20px; background:#333;
	}

#line2{
    width:100%;height:60px;
    clear:both;
        
    }
#container{
	width:100%;
	margin:3px auto;
}

#left-column:{
	width:100%;
	float:left;
	background:blue;
    clear:right;
	
}
#right-column:{
	width:100%;
	float:left;
	background:orange;
}	

}

/* Media 320 */

@media screen and (max-width:320px;){
#header{
	width:100%; height:60px;
}
#navbar{
	width:100%;
	height:60px; 
	float:none;
	
}	
#navbar> li{
	width:100%;
	list-style:none;
	float:none;
	border-bottom:1px solid skyblue;
	}	
li>a{
	display:block;
	color:white;
	line-height:60px; 
	font-size:12px;
	text-decoration:none;
	}
#logo{
	display:none;
	}
#line2{
    width:100%;
    display:none;
    clear:both;
    }
	
#container{
	width:320px;
	margin:0px;
	
}

#left-column:{
	width:100%;
	background:blue;
    clear:right;
}
#right-column:{
	width:100%;
	background:orange;
}
}
    
